# --- Logs & Diagnósticos ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
logs
*.splunk
*.out

# --- Dependencias ---
# Nunca deben subirse al repo
node_modules/
jspm_packages/

# --- Builds y Salidas ---
dist/
dist-ssr/
build/
out/
.next/
.svelte-kit/
.nitro
.cache/

# --- Entornos ---
.env
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Editores y IDEs ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.orig

# --- Archivos de Sistema ---
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# --- Testing ---
/coverage
/.nyc_output

# --- Otros ---
*.local